footer {
    font-size: 20px;
    a{
        color: black;
        line-height : 45px;
        text-decoration: none;
    }
    a:hover {
        color:$verde;
    }

}

.txt2 {
    font-size: 13px;
    a{
        color:$verde;
    }
    a:hover{
        color:black;
    }
}